{:deps
 {cljfx/cljfx {:git/url "https://github.com/cljfx/cljfx" :sha "10fb568" :git/tag "1.7.16"}
  com.jsyn/jsyn {:mvn/version "20170815"}
  com.jcraft/jsch {:mvn/version "0.1.55"}

  org.apache.sshd/sshd-core {:mvn/version "2.7.0"}
  org.apache.sshd/sshd-scp {:mvn/version "2.7.0"}

  org.slf4j/slf4j-api {:mvn/version "1.7.32"}
  org.slf4j/slf4j-simple {:mvn/version "1.7.32"}}}